$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;
$greyColor: #ccc;

$pColor: #E3AFB7;
$sColor: #985D6C;
$tColor: #fde7ea;
$hColor: #71380D;
$fColor: #2E1502;

$defaultFont:'Julius Sans One', sans-serif;
$lightWeight: 300;
$normalWeight: 500;

$gutter: 16px;